::-webkit-scrollbar-track
{
    /* border: 1px solid white; */
    border: 1px solid #e8bc89;
    /* border color does not support transparent on scrollbar */
    /* border-color: transparent; */
    /* background-color: #b2bec3; */
    background-color: #fffbeb;
}
::-webkit-scrollbar
{
    width: 2px;
    height: 3px;
    /* background-color: #dfe6e9; */
    background-color: #fffbeb;
}

::-webkit-scrollbar-thumb
{
    /* background-color: #9EB384; */
    background-color: #a64f28;
    border-radius: 10px;
}