<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Llama SQL Generator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/index.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/scrollbar.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    </head>
    <body>
        {% include "navbar.html" %}
        <div id="app">
            <div class="grid gap-4 grid-cols-8">
                <div class="col-start-2 col-end-8">
                    <label class="text-gray-700 text-sm font-bold mb-2 border border-transparent" for="textarea">
                      &nbsp;&nbsp;SQL Server Query Generator<span class="text-xs font-medium">&nbsp;&nbsp;(response time will be based on the query,model size and the hardware used)</span>
                    </label>
                    <textarea id="prompt" class="w-full p-1 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500 text-left text-sm" 
                    placeholder="search your data" style="font-size: 10px !important; font-weight: bold;" rows="4">
                    </textarea>
                    <span class="hidden warningtext text-red-600 text-xs font-semibold">Enter a valid text</span>
                    <span class="hidden warningcheckbox text-red-600 text-xs font-semibold">Select suitable tables to proceed</span>
                    <span class="hidden successtext text-green-500 text-xs font-semibold">The query was generated in <u id="time-taken" class="text-green-600"></u> minutes</span>
                    <div class="functionclass flex items-center justify-between p-2">
                        <button id="request-query" class="flex bg-green-800 text-white px-1 py-1 rounded-md text-xs hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
                            <img width="14" height="14" src="https://img.icons8.com/arcade/64/process.png" alt="process"/>
                            Generate
                        </button>
                        <button id="execute-query" class=" hidden flex bg-emerald-500 text-white px-1 py-1 rounded-md text-xs hover:bg-emerald-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
                            <img width="14" height="14" src="https://img.icons8.com/color/48/ok--v1.png" alt="ok--v1"/>
                            Execute
                        </button>
                        <button class="flex text-xs bg-sky-600 text-white rounded-md px-1 py-1 text-base font-medium hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-green-300" id="openModalButton">
                            <img width="14" height="14" src="https://img.icons8.com/fluency/48/database--v1.png" alt="database--v1"/>
                            Connection
                        </button>
                        <button id="clear-prompt" class="flex bg-amber-500 text-white px-1 py-1 rounded-md text-xs hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-amber-300">
                            <img width="14" height="14" src="https://img.icons8.com/color/48/broom.png" alt="broom"/>
                            Clear
                        </button>
                        <button id="reset-prompt" class="hidden flex bg-red-800 text-white px-1 py-1 rounded-md text-xs hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-amber-300">
                            <img width="14" height="14" src="https://img.icons8.com/fluency/48/synchronize.png" alt="synchronize"/>
                            Reset
                        </button>
                    </div>                      
                </div>
                <div class="flex col-start-2 col-end-8 justify-between p-4 w-full">
                    <input id="filterInput" class="font-semibold text-xs text-slate-600 underline decoration-slate-700" 
                    type="text" placeholder="Search schema and tables">
                    <!-- dropdown DB -->
                    <span class="hidden text-red-600 text-xs" id="samedb">select a different database to change</span>
                    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white focus:outline-none rounded-lg text-sm 
                    px-1 py-1 text-center inline-flex items-center" 
                    type="button">{{ db_data['Database'] }}
                    </button>
                    <!-- Dropdown menu -->
                    <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                        <ul id="dropdown-group" class="py-2 text-sm text-gray-700 overflow-y-auto" aria-labelledby="dropdownDefaultButton">
                            {% for key in dbs %}
                            <li>
                                <a href="#" class="block p-1 hover:bg-gray-100"> {{ key }}</a>
                            </li>
                            {% endfor %}    
                        </ul>
                    </div>
                    <!-- dropdown DB -->
                </div>
                <div class="col-start-2 col-end-8">
                        <table id="database_schema" class="text-xs table-fixed text-sm w-full border-collapse border border-slate-100">
                            <caption class="caption-top">
                                Please select appropriate tables for better and quicker results
                            </caption>
                        <thead class="text-base">
                            <th class="w-1/4 p-1 text-center border border-amber-100">Table</th>
                            <th class="w-1/6 p-1 text-center border border-amber-100">Schema</th>
                            <th class="w-1/3 p-1 text-center border border-amber-100">Columns</th>
                            <th class="w-1/3 p-1 text-center border border-amber-100">Datatypes</th>
                            <th class="p-1 text-center justify-center border border-amber-100">
                                <input id="masterCheckbox" type="checkbox" class="form-checkbox ml-auto text-indigo-600" checked> 
                            </th>
                        </thead>
                        <tbody id="tableBody">
                                {% for keys,values in json_data.items() %}
                                    <tr>
                                        <td class="p-2 max-h-10 text-center overflow-y-auto border border-amber-100">{{ keys }}</td>
                                        <td class="p-2 max-h-10 text-center overflow-y-auto border border-amber-100">{{values[0]['schema']}}</td>
                                        <td class="p-2 max-h-10 overflow-y-auto border border-amber-100">{{values[0]['name']}}</td>
                                        <td class="p-2 max-h-10 overflow-y-auto border border-amber-100">{{values[0]['dtypes']}}</td>
                                        <td class="p-2 text-center border border-amber-100">
                                            <label>
                                                <input type="checkbox" class="checkbox" checked>
                                            </label>
                                        </td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
        <div id="overlay" class="overlay"></div>
        <!-- MODAL -->
        <div id="myModal" class="hidden fixed inset-0 flex items-center justify-center z-50">
            <div class="p-4 rounded-md shadow-lg bg-lime-200">
                <h2 class="text-md font-semibold mb-2">Connection Parameters</h2>
                <div class="text-xs">
                    <p><b>Database : </b><a class="underline decoration-indigo-400/80">{{ db_data['Database'] }}</a></p>
                    <p><b>User : </b><a class="underline decoration-indigo-500/80">{{ db_data['user'] }}</a></p>
                    <p><b>Host : </b><a class="underline decoration-indigo-600/80">{{ db_data['host'] }}</a></p>
                    <p><b>Port : </b><a class="underline decoration-indigo-700/80">{{ db_data['port'] }}</a></p>
                </div>
                <button id="closeModalButton" class="text-xs mt-3 bg-green-700 text-slate-100 hover:bg-lime-400 hover:text-slate-800 hover:font-semibold px-1 py-1 rounded-md">
                    Close
                </button>
            </div>
        </div>
        <!-- Page bufferer -->
        <div id="modalContainer" class="hidden modal-container">
            <div class="modal-content p-6 rounded shadow-md">
                <svg viewBox="0 0 100 100">
                    <g fill="#000" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="6">
                        <!-- left line -->
                        <!-- left line -->
                        <path d="M 21 40 V 59">
                            <animateTransform attributeName="transform" attributeType="XML" type="rotate" values="0 21 59; 180 21 59"
                      dur="2s" repeatCount="indefinite" />
                        </path>
                        <!-- right line -->
                        <path d="M 79 40 V 59">
                            <animateTransform attributeName="transform" attributeType="XML" type="rotate" values="0 79 59; -180 79 59"
                      dur="2s" repeatCount="indefinite" />
                        </path>
                        <!-- top line -->
                        <path d="M 50 21 V 40">
                            <animate attributeName="d" values="M 50 21 V 40; M 50 59 V 40" dur="2s" repeatCount="indefinite" />
                        </path>
                        <!-- btm line -->
                        <path d="M 50 60 V 79">
                            <animate attributeName="d" values="M 50 60 V 79; M 50 98 V 79" dur="2s" repeatCount="indefinite" />
                        </path>
                        <!-- top box -->
                        <path d="M 50 21 L 79 40 L 50 60 L 21 40 Z">
                        <animate attributeName="stroke" values="rgba(255,255,255,1); rgba(100,100,100,0)" dur="2s" repeatCount="indefinite" />
                        </path>
                        <!-- mid box -->
                        <path d="M 50 40 L 79 59 L 50 79 L 21 59 Z"/>
                        <!-- btm box -->
                        <path d="M 50 59 L 79 78 L 50 98 L 21 78 Z">
                        <animate attributeName="stroke" values="rgba(100,100,100,0); rgba(255,255,255,1)" dur="2s" repeatCount="indefinite" />
                        </path>
                        <animateTransform attributeName="transform" attributeType="XML" type="translate" values="0 0; 0 -19" dur="2s" repeatCount="indefinite" />
                    </g>
                </svg>
            </div>
          </div>
        {% include "footer.html" %}
        <script src="{{ url_for('static', filename='script/clock.js') }}"></script>
        <script src="{{ url_for('static', filename='script/table-filter.js') }}"></script>
        <script src="{{ url_for('static', filename='script/index.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    </body>
</html>