<nav class="navbar sticky top-0 border-gray-200 px-2 mb-10">
    <div class="container flex flex-wrap items-center justify-between">
    <a href="/" class="flex">
        <img src="{{url_for('static',filename='images/llama.png')}}" alt="icon" height="10px" width="25px">&nbsp;
        <span class="self-center text-lg font-semibold whitespace-nowrap">llama SQL</span>
    </a>
    <ul>
        <li class="text-sm font-medium">
            Text-to-SQL using Code Llama
        </li>
    </ul>
    <div class="hidden md:flex justify-between items-center w-full md:w-auto md:order-1" id="mobile-menu-3">
      <ul class="flex-col md:flex-row flex md:space-x-8 mt-4 md:mt-0 md:text-sm md:font-medium">
        <li>
          <!-- <a href="#" class="text-gray-700 hover:bg-gray-50 border-b border-gray-100 md:hover:bg-transparent md:border-0 block pl-3 pr-4 py-2 md:hover:text-blue-700 md:p-0">Services</a> -->
          <a class="text-black-700 px-3 py-5 lg:py-2 flex items-center text-xs" href="https://github.com/raghujhts13/text-to-sql" target="_blank"><i class="lg:text-blueGray-200 text-blueGray-400 fab fa-github text-lg leading-lg"></i></a>
          <div class="clock absolute top-0 right-4 lg:py-2 text-xl font-bold">
            <span id="clock"></span>
        </div>
        </li>
      </ul>
    </div>
    </div>
  </nav>