<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Llama SQL Generator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/output.css') }}">
        <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/datatable.css') }}">
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="bg-group p-2 grid gap-4 grid-cols-10">
            <div class="bg-group col-start-3 col-end-8 block rounded-lg bg-white text-center shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
                <div class="bg-group border-b-2 border-neutral-100 px-6 py-3 dark:border-neutral-600 dark:text-neutral-50">
                    SQL SERVER QUERY
                </div>
                <div class="p-6 shadow-md p-6">
                    <h5 class="text-left mb-1 text-sm font-small leading-tight text-purple-800">
                    {{db_data}}
                    </h5>
                </div>
                <div class="grid gap-2 grid-cols-4 items-center justify-between border-t-2 border-neutral-100 py-2">
                    <h5 class="bg-group col-start-1 col-end-2 mb-1 text-xs font-bold tracking-tight text-teal-400">Tokens Utilized : {{gpt_metadata['tokens']}}</h5>
                    <h5 class="bg-group col-start-4 col-end-5 mb-1 text-xs font-bold tracking-tight text-emerald-400">Time Taken (m) : {{gpt_metadata['time_taken']}}</h5>
                </div>
            </div>
            <div class="bg-group text-xs col-start-8 col-end-11 flex justify-center items-center">
                <div class="bg-group max-w-sm p-4 border rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <p class="py-2">
                        <span class="bg-group  text-stone-400">
                            For <span class="underline decoration-orange-200">
                                viewing and primitive search capabilities
                            </span> the below table should be fine.<br>
                        </span>
                        <span class="bg-group text-orange-300">
                            For <span class="underline decoration-yellow-300">
                                visualization and bit more advanced data handling
                            </span> click the below button.<br>
                        </span><br>
                        <span class="bg-group group relative w-full grid grid-cols-8">
                            <button id="chartbutton" class="col-start-1 col-end-3 justify-center bg-blue-500 text-white font-bold px-1 border-b-4 border-blue-700 rounded">
                                <p class="text-stone-100 hover:text-slate-900">PyGWalker</p>
                            </button><br>
                            <span class="col-start-4 col-end-8 hidden font-semibold text-emerald-500 subpixel-antialiased group-hover:block transition-transform"> Watch out for a new tab </span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-start-1 col-end-12 container mx-auto px-1">
                <div id='recipients' class="text-xs p-1 mt-1 lg:mt-0 rounded bg-white">
                    <table id="example" class="stripe hover table-fixed table-w-200 text-xs" style="width:100%;" >
                        <thead class="text-xs">
                            <tr>
                                {% for i in output.keys() %}
                                <th data-priority={{ loop.index }}>{{ i }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody class="text-xs text-center">
                            {% for i in positions %}
                            <tr>
                                {% for j in output.values() %}
                                <td>{{ j[i] }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% include "footer.html" %}
    <script src="{{ url_for('static', filename='script/clock.js') }}"></script>
    <script src="{{ url_for('static', filename='script/output.js') }}"></script>
    </body> 
</html>